ul.search-result-list {
    padding-left: 10px;
}
a.search-result-title {
    font-weight: bold;
}
p.search-result {
    color:#555;
    word-wrap: break-word;
}
em.search-keyword {
    border-bottom: 1px dashed #4088b8;
    font-weight: bold;
    color: #ff0000;
    font-style: normal;
}